html{
    scroll-behavior: smooth;
    display: none;
  
}
body{
    scroll-behavior: smooth;
  
}
/* loading screen///////////////////// */
/* loading screen///////////////////// */

.loading-screen {
    margin: 0;
    padding: 0;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 100vw;
    height: 100vh;
    background-color: #090323;
    z-index: 99;
}


.loading-screen h1 {
    background: linear-gradient(3deg, red, rgb(234, 47, 255), rgb(0, 0, 0));

    -webkit-text-stroke: 0.5px #ff6ce3;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0 0;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center;
    animation: loading 6s linear infinite forwards;
}

.loading-screen span {
    width: 0%;
    border: 2px solid red;
    display: block;

    animation: loading2 6s linear infinite forwards;
}

@keyframes loading {

    from {
        background-position: -168px;
    }

    to {
        background-position: 320px;
    }

}

@keyframes loading2 {

    from {
        width: 0px;
        border-color: red;
    }
    
    to {
        width: 110px;
        border-color: rgb(184, 0, 212);

    }

}
/* mouse animation css////////////////////// */
.cursor {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    top: 0;
    left: 0;
    transition: 0.2s;
    transform: translate(-50%, -80%);
    pointer-events: none;
    /* background-color: red; */
    /* border: 2px solid green; */
    /* box-shadow: 0px 0px 15px #ff3fe7; */
    background-image: url('icons/giphy1.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.cdursor2 {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    top: 0;
    left: 0;
    transition: 0.2s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* background-color: red; */
    border: 2px solid rgb(255, 63, 249);

}

/* animation css/////////////////// */

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    /* display: inline-block; */
    font-size: 190px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/* scrollbar css//////////////////// */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: #9e4fff00;
}

::-webkit-scrollbar-thumb {
    background-color: #e626ff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


body {


    background-color: aliceblue;

}

.hr-style {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    margin: 0;


    background: -webkit-linear-gradient(45deg, #654646, #fc45ff);
    background: linear-gradient(45deg, #654646, #fc45ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-collapse {
    flex-basis: 100%;
    justify-content: left;
    flex-grow: 1;
    justify-items: right;
    text-align: center;
}

.mynav {
    /* position: absolute; */
}

.wrapper {
    position: fixed;
    top: 0;
    /* z-index: 5; */
    left: 0;
    /* color: white; */
    width: 100%;
    background-color: rgba(240, 255, 255, 0);
    transition: 0.2s all;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    /* background-image: var(--bs-navbar-toggler-icon-bg); */
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(22.2);
    background-size: 100%;
}

.wrapper-scroll {
    position: fixed;
    top: 0;
    z-index: 5;
    left: 0;
    width: 100%;
    color: black;
    background-color: azure;
    box-shadow: 0px 0px 8px #00000033;
    transition: 0.2s all;
}



.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    /* border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color); */
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon-scroll {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    /* background-image: var(--bs-navbar-toggler-icon-bg); */
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(1.1);
    background-size: 100%;
}




.box-1 {
    /* border: 1px solid black; */
    height: 500px;
    /* background-color: rgb(72, 201, 162); */
    backdrop-filter: brightness(0.4);

}

.box-2 {
    /* border: 1px solid black; */
    height: 400px;
    background-color: rgba(203, 162, 108, 0);

}

.mycontainer .rowbg {
    /* background-image: url("D:/Web Devlopment/Portfolio/images/best-purple-wallpaper-4k.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    /* margin-top: 63px; */
    height: 550px;
    /* padding: 141px; */
    background-color: #9f4fff;

    transition: all 3s;
}

@keyframes bgChange {
    25% {
        background-color: #3667fa;
    }

    50% {
        background-color: #027f55;
    }

    75% {
        background-color: #dc2696;
    }

    100% {
        background-color: #9f4fff;
    }

}


.home-title {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 0;
    margin-top: 83px;
    /* padding: 129px; */

}

.home-title h1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 0;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    /* background: linear-gradient(45deg, white, #ffffff7d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: txtmove 3s linear infinite forwards; */

}

.home-name-title {


    /* color: white; */

    font-family: "Poppins", sans-serif;
    font-weight: 200;
    background: linear-gradient(45deg, white, #ffffff7d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: txtmove 3s linear infinite forwards;

}

@keyframes txtmove {
    from {
        background-position: 0x;
    }

    to {
        background-position: 320px;
    }
}

.home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28px;
}

.home-btn .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #f73fff;
    --bs-btn-border-color: #c0c1c2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f33eac;
    --bs-btn-hover-border-color: #c2c2c2;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;

    --bs-btn-active-bg: #7d7d7d;
    --bs-btn-active-border-color: #bdbdbd;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
    transition: all 0.5s;
}

.resume-btn {
    /* padding: 9px 32px;
    font-size: 20px; */
    color: rgb(255, 255, 255);
    /* background-color: red; */
    font-weight: 400;
    font-family: 'Raleway';
    /* border: 1px solid #c4c2c2; */
    border-radius: 28px;
}

.home-icon {}

.home-icon a {
    text-decoration: none;
    padding: 12px;
    font-family: 'Raleway';
    font-size: 28px;
    color: white;
}

.myicons {}

.myimg {
    width: 200px;
    height: 200px;

    border-radius: 117px;
}



.wrapper .nav-link {
    display: inline-block;
    position: relative;

    margin: 0 10px;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    /* color: var(--bs-nav-link-color); */
    text-decoration: none;
    background: 0 0;
    border: 0;
    font-family: 'Poppins';
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    font-weight: 300;
    /* color: #ececec; */
    /* border-bottom: 2px solid red; */
}

.wrapper .nav-link::after {
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 2px;
    background: #e615ff;
    transition: 0.3s;
    bottom: 0;
}


.wrapper .nav-link.active::after,
.wrapper .nav-link:hover::after {
    width: 100%;
}

.wrapper .nav-link.active,
.wrapper .nav-link:hover {
    color: #e615ff;
}



.wrapper .navbar-brand {
    display: flex;
    align-items: center;
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
}

.nav-link-2 {
    color: white;
}






.abt-container {
    padding: 0;

}




.nav-pills {
    --bs-nav-pills-border-radius: 0;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #0d6efd;
    transition: 0.3s all;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #7f00ff;
    transition: 0.3s all;
}



.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;

    --bs-nav-link-hover-color: red;
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    color: rgba(191, 191, 191, 0);
}


/* About tabs section//////////////////////////////////////////////////////// */
/* About tabs section//////////////////////////////////////////////////////// */




.mytablink ul {
    /* border: 2px solid black; */
}

.my-tab-ul {
    display: flex;
    justify-content: space-between;
    border-radius: 39px;

    overflow: hidden;
}

.mytablink .nav-pills {
    --bs-nav-pills-border-radius: 0;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #0d6efd;
    padding: 0px;

    border-radius: 0;
    border-bottom: 1px solid black;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #d935ff;
    /* transition: 0.3s all; */
}

.mytablink .nav-link {
    /* margin: 0 15px; */
    padding: 7px 9px;
    /* font-size: 13px; */
    font-family: 'Poppins';
    font-weight: 300;
    border-radius: 0;
    color: black;
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);

}
.progress-bar-striped {
    /* background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent); */
    background-size: var(--bs-progress-height) var(--bs-progress-height);
    background-repeat: no-repeat;
    background-size: cover;
}
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    /* background-color: var(--bs-progress-bar-bg); */
    transition: var(--bs-progress-bar-transition);
    background: linear-gradient(45deg, #8200c1, #ff09db);
}



.myprogress {
    height: 4px;
    /* width: 300px; */
    margin: 0px 0 20px 0;
}





.abt-img {
    width: 100%;
    height: auto;
    /* padding: 38px; */
    /* opacity: 0.4; */
}

.edu-list-ele {
    text-decoration: none;
    list-style: none;
    margin: 24px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #4d0661;
    font-weight: 500;
    /* background: -webkit-linear-gradient(45deg, #5a73c0, #fc45ff); */
    /* background: linear-gradient(45deg, #b40073, #db089a); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}

.edu-list-ele .year {
    text-decoration: none;
    list-style: none;

    font-family: 'Poppins', sans-serif;

    color: #3f3f40;
    font-weight: 400;


}

.edu-list {
    padding: 0 4px;
}

/* service section style///////////////////////////////////////// */
/* service section style///////////////////////////////////////// */



.services-container .mycardbody {
    /* background-color: #e1f1ff; */
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    box-shadow: 0 0 5px #7373731f;
    /* border: 3px solid red; */
    /* border-image: linear-gradient(#ffffff00, #4d9f0c) 30; */
    border-radius: 0;
    transition: 0.3s all;

}

.services-container .mycardbody:hover {
    /* animation: bordermove 3s linear infinite forwards; */
    /* border: 2px solid rgb(147, 0, 163); */
    box-shadow: 1px 1px 10px #ff5bfe63;
    transform: translate(0px,-4px);
    transition: 0.3s all;
    

}

@keyframes bordermove {}

.services-container .mycard {
    /* background-color: ; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}

.services-container .mycard:hover {
    /* box-shadow: 0px 5px 20px #0000001f; */
}

.services-container .mycardtitle {
    font-family: 'Poppins';
    font-weight: 400;
}

.services-container .card-img,
.card-img-bottom,
.service-card-img {
    width: 40%;
}

.services-container .card-body {
    text-align: center;
    width: 100%;
    background: #d8f1ff;
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    background: linear-gradient(45deg, red, rgb(0, 0, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    stroke: 1px 1px black;
    animation: bgmove 4s linear infinite forwards;
}

@keyframes bgmove {
    from {

        background-position: 0px;
    }

    to {
        background-position: 320px;
    }
}



.services-container .mycard:hover {

    /* transform: translateY(-15px);
    transition: all 0.6s; */
}


.service-hover {
    display: flex;
    position: relative;
    top: -369px;
    height: 249px;
    justify-content: center;
    align-items: center;
    background-color: #0d6efd;
    z-index: 0;
}

.hide-card {
    background-color: #e25555;
    width: 100%;
    height: 240px;
    position: absolute;
    top: 0;
    transition: all 0.4s;
}

.hide-card:hover {
    background-color: #e25555;
    width: 100%;
    height: 238px;
    position: absolute;
    top: 0;
    transition: all 0.4s;
}

/* project section//////////////////////////////////////// */
/* project section//////////////////////////////////////// */

.project-container .card {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 12px 0;
}

.project-container a {
    text-decoration: none;
    color: #ff0da2;
}

.project-container a:hover {
    text-decoration: none;
    color: #be0dff;
}

.project-container .card {
    box-shadow: 0px 0px 10px #95949473;
    transition: all 0.3s;
}

.project-container .card:hover {
    box-shadow: 0px 0px 10px #4d4d4d82;
    transform: translateY(-6px);
    transition: all 0.3s;
}

/* contactUs style////////////////////////////////////////////// */
/* contactUs style////////////////////////////////////////////// */

.contact-container .input-col {
    padding: 0 40px;
    /* background: linear-gradient(45deg, #ffa4f6, #bd71ff); */
}

.contact-container .input-group {
    width: 100%;
    margin: 10px 0;
    border-radius: 0;
    height: 50px;
    border: none;

}

.contact-container .input-group:focus {
    box-shadow: none;
    border: none;

}

.contact-container .form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid rgb(26, 26, 26);

}

.contact-container .input-section {
    flex-direction: column;
    width: 100%;
}

.contact-container .form-control {
    background-color: transparent;
    font-family: 'Poppins';
    font-weight: 300;
    border: navajowhite;
    border-bottom: 1px solid #636060;
    border-radius: 0;
    color: rgb(22, 22, 22);

}

.contact-container .input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: #00000000;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
}

.contact-container .btn-primary {
    width: 100%;
    --bs-btn-color: #fff;

    --bs-btn-bg: #a037ff;
    --bs-btn-border-color: #0d6dfd00;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e949fc;
    --bs-btn-hover-border-color: #0a57ca00;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    margin: 5px 0;
    --bs-btn-active-bg: #4f4f4f;
    --bs-btn-active-border-color: #0a52be00;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
    border-radius: 0;
    height: 40px;
    margin-top: 28px;

}


/* footer section////////////////////////////////////// */
/* footer section////////////////////////////////////// */

.footer-section {
    padding: 0;
}

.footer-section footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #19242d;
    height: 37px;
}

.footer-section footer .personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffffb0;
}

.footer-section footer h2 {
    color: #ffffffb0;
    font-size: 9px;
    font-family: 'Poppins';
    font-weight: 200;
    margin: 0;
}

.footer-section footer .personal-info p {
    margin: 0;
    font-size: 9px;
    margin-right: 3px;
}
